
@import "tailwindcss";

@keyframes glowMove {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-48%, -52%) scale(1.1); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
